
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to get user role
    function getUserRole(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role;
    }

    // Rules for the users collection
    match /users/{userId} {
      allow read: if request.auth != null; // Allow any authenticated user to read user profiles
      allow write: if request.auth.uid == userId || getUserRole(request.auth.uid) == 'admin'; // Allow users to update their own profile, or admins to update any
    }

    // Rules for projects and tasks subcollections
    match /users/{userId}/projects/{projectId} {
      // Admins can read/write/delete any project
      // Users can read/write/delete their own projects
      allow read, write, delete: if getUserRole(request.auth.uid) == 'admin' || request.auth.uid == userId;

      // Rules for tasks within a project
      match /tasks/{taskId} {
        // Inherit permissions from the parent project
        allow read, write, delete: if getUserRole(request.auth.uid) == 'admin' || request.auth.uid == userId;
      }
    }
    
    // Rules for collection group queries
    match /{path=**}/projects/{projectId} {
    	allow read: if getUserRole(request.auth.uid) == 'admin';
    }
    
    match /{path=**}/tasks/{taskId} {
        allow read: if getUserRole(request.auth.uid) == 'admin' || request.auth.uid == resource.data.assignedToId;
    }
  }
}
